PORT=3000
NODE_ENV=production

MONGO_URI=mongodb+srv://your_user:your_pass@your_cluster.mongodb.net/your_db?retryWrites=true&w=majority
DB_URL=mongodb+srv://your_user:your_pass@your_cluster.mongodb.net/your_db?retryWrites=true&w=majority

JWT_SECRET=FARAZ
JWT_KEY=FARAZ
SESSION_SECRET=FARAZ

CLOUDINARY_NAME=dlzjwiogr
CLOUDINARY_CLOUD_NAME=dlzjwiogr
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
LOCAL_UPLOAD_PATH=uploads

MERCHANT_ID=10038112
MERCHANT_KEY=your_merchant_key
PAYFAST_URL=https://sandbox.payfast.co.za/eng/process

STRIPE_PUBLIC_KEY=your_stripe_public_key
STRIPE_SECRET_KEY=your_stripe_secret_key

SENTRY_DSN=your_sentry_dsn