aws_region    = "us-east-1"
project       = "digital-smart-city"
environment   = "ephemeral"
vpc_cidr      = "10.70.0.0/16"
desired_count = 1
min_capacity  = 1
max_capacity  = 2

# These are overwritten by deployment scripts after Docker images are built and pushed to ECR.
backend_image  = "public.ecr.aws/docker/library/nginx:stable-alpine"
frontend_image = "public.ecr.aws/docker/library/nginx:stable-alpine"
